<div class="contents">
	<div class="main-contents">
		<div class="post-list">
			<div class="post-list-item">
				<img src="">
				<span>JINのデザイン</span>
				<h2>JINはデザインポートに対応！自分好みのデザインに「着せ替え」できる</h2>
				<span></span>
			</div>
		</div>
	</div>

	<div class="side-bar"></div>
</div>