<div class="footer-wedget-area clearfix">
	<div class="footer-left">
		<div class="text-widget">
			<p><img src="<%= asset_path "logo_white@2x.png" %>"></p>
			<p>読む人も、書く人も、全てを考え抜いたデザインを実現。真の使いやすさを追求したWordPressテーマです。</p>
			<p>「アフィリエイト」と「SEO」に必要なものは、全て詰め込みました。売れるサイト作りを確実に後押しします。</p>
		  <a href="#" class="btn">今すぐダウンロード</a>
		</div>
		<div class="tag">
			<div class="tag-title">TAG</div>
			<div class="tag-contents">
				<a href="#" class="btn">SEO</a>
				<a href="#" class="btn">WordPress</a>
				<a href="#" class="btn">おすすめ機能</a>
				<a href="#" class="btn">エディタ</a>
				<a href="#" class="btn">スマホ</a>
				<a href="#" class="btn">ツール</a>
				<a href="#" class="btn">デザイン</a>
				<a href="#" class="btn">ユーザビリティ</a>
				<a href="#" class="btn">収益化</a>
				<a href="#" class="btn">広告</a>
			</div>
		</div>
	</div>
	<div class="footer-center">
		<div class="category">
			<div class="wedget-title1">CATEGORY</div>
			<ul>
				<li>JINのエディタ</li>
				<li>JINのデザイン</li>
				<li>JINの特徴</li>
				<li>収益化機能</li>
			</ul>
		</div>
		<div class="archives">
			<div class="wedget-title2">ARCHIVES</div>
			<ul>
				<li>2018年2月</li>
				<li>2018年1月</li>
				<li>2017年12月</li>
			</ul>
		</div>
	</div>
	<div class="footer-right">
		<div class="wedget-title3">POPULAR POST</div>
		<div class="popular-post">
			<div class="popular-box"></div>
			<div class="popular-box"></div>
			<div class="popular-box"></div>
		</div>
	</div>
</div>
<div class="footer-box">
	<div class="footer-inner">
		<span class="copyright">
		  ©2017-2020 JIN Demo Site 4
		</span>
	</div>
</div>