<div class="head">
	<a class="head-title"><span>JIN</span> Demo Site 4</a>
	<div class="head-nav">
		<ul>
			<li>HOME</li>
			<li>PROFILE</li>
			<li>SERVICE</li>
			<li>REVIEW</li>
			<li>CONTACT</li>
		</ul>
	</div>
</div>